@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  /* text-decoration: none;
  font-family: "Roboto", sans-serif; */
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  background: rgb(250, 250, 250);
  z-index: 1;
  padding: 40px;
}

/* main {
  height: 100vw;
} */

.container__menu {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
}

.menu {
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-left: 36px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #f6615d;
  text-transform: uppercase;
}

/* #selected {
  background: rgb(233, 233, 233);
  padding: 10px 40px;
  border-radius: 50px;
} */

.menu nav img {
  display: none;
}
.menu #btn_menu {
  display: none;
}

/* COVER */

.container__cover {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Fondo.svg);
  background-position: right;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* padding: 40px; */
}

.cover {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__cover .text {
  max-width: 400px;
}

.container__cover .text h1 {
  font-size: 36px;
  font-weight: 600;
}

.container__cover .text p {
  font-size: 18px;
  margin-top: 40px;
}

.container__cover .text input {
  padding: 18px 80px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 40px;
  background: linear-gradient(to right, #f7cb66, #f2a900);
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 30px -12px #f2a900;
  transition: all 300ms;
}

.container__cover .text input:hover {
  box-shadow: 1px 1px 30px -6px #f2a900;
}

.container__cover .svg img {
  width: 600px;
  animation: move-vector 4s linear infinite;
}

.container-contacto {
  position: relative;
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.container-contacto:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Fondo.svg) no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  height: 100%;
  background: url(../img/imagenContacto.jpg) no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

.container-contacto h2 {
  position: relative;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.container-contacto h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #f2a900;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #f2a900;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: 0.3s;
}

.btn:hover {
  background-color: #dd9c03;
}

@media screen and (max-width: 850px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}

@keyframes move-vector {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

/* Responsive */

@media screen and (max-width: 1700px) {
  .container__cover {
    background-position: 50%;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 50px;
  }

  .container__cover {
    background-position: -100px;
  }
  .container__cover .svg img {
    width: 500px;
  }
}

@media screen and (max-width: 1020px) {
  .container__cover {
    background-image: url("");
    background-color: #fbe5b3;
  }

  .container__cover .svg img {
    display: none;
  }

  .container__cover .text {
    max-width: 600px;
  }
}

@media screen and (max-width: 720px) {
  .menu nav {
    position: fixed;
    top: 0;
    right: -250px;
    background: white;
    width: 250px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
  }
  .menu ul {
    flex-direction: column;
    margin-top: 40px;
  }

  .menu ul li {
    margin-top: 30px;
    margin-left: 0;
  }

  .menu ul li a {
    color: #bebebe;
  }

  #selected {
    background: none;
    padding: 0;
    border-radius: none;
    color: #f6615d;
  }
  .menu nav img {
    display: block;
    width: 60px;
  }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
  }

  .menu #btn_menu:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

/* Página Registro */

.formulario__register {
  position: absolute;
  padding: 100px;
}

/* Página Contacto */

/* .container-contacto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.container-contacto:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Background-page.svg) no-repeat center;
  background-size: cover;
} */
